@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
}
label #btn{
    position: fixed;
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    position: fixed;
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
#check:checked ~ section{
    margin-left: 250px;
}
.search-area{
    float: right;
    padding: 20px;
}

.search-area input{
    height: 25px;
    border-radius: 20px;
    text-align: center;
    background-color: gainsboro;
    border: 1px solid gainsboro;
}

#search-btn{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: lightcyan;
    border: 1px solid lightcyan;
}
.table-area{
    position: absolute;
    text-align: center;
    float: right;
    width: auto;
    height: auto;
    margin-left: 31%;
    margin-top: 10%;
}
.table-area th{
    background-color: grey;
}
.show-table{
    width: 700px;
    height: auto;
}
.show-table th{
    border-radius: 20px;
    height: 35px;
}
.show-table td{
    border-radius: 10px;
    background-color: lightgrey;
    height: 35px;
}
.show-table td:hover{
    background-color: slategrey;
}
.show-table a{
    text-decoration: none;
    color: black;
}
section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/eye.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    transition: all .5s;
}
td{
    word-break: break-word;
}
